@model FribergCarRentals.Models.Bil

@{
    ViewData["Title"] = "Ny bil";
}

<h1 class="text-center mt-5">Ny bil</h1>

<div class="row">
    <form asp-action="NyBil" class="d-flex flex-wrap flex-row justify-content-between">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group w-50 p-1">
            <label asp-for="Tillverkare" class="control-label"></label>
            <span id="errorTillverkare" class="text-danger"></span>
            <input asp-for="Tillverkare" id="tillverkare" class="form-control" />
        </div>
        <div class="form-group w-50 p-1">
            <label asp-for="Årsmodell" class="control-label"></label>
            <span id="errorÅrsmodell" class="text-danger"></span>
            <input asp-for="Årsmodell" id="årsmodell" class="form-control" />
        </div>
        <div class="form-group w-50 p-1">
            <label asp-for="Modell" class="control-label"></label>
            <span id="errorModell" class="text-danger"></span>
            <input asp-for="Modell" id="modell" class="form-control" />
        </div>
        <div class="form-group w-50 p-1">
            <label asp-for="Drivning" class="control-label"></label>
            <span id="errorDrivning" class="text-danger"></span>
            <select asp-for="Drivning" id="drivning" class="form-select">
                <option value="Tvåhjulsdrift">Tvåhjulsdrift</option>
                <option value="Fyrhjulsdrift">Fyrhjulsdrift</option>
            </select>
        </div>
        <div class="form-group w-50 p-1">
            <label asp-for="Bränsle" class="control-label"></label>
            <span id="errorBränsle" class="text-danger"></span>
            <select asp-for="Bränsle" id="bränsle" class="form-select">
                <option value="Bensin">Bensin</option>
                <option value="Diesel">Diesel</option>
                <option value="Elektrisk">Elektrisk</option>
                <option value="Hybrid">Hybrid</option>
            </select>
        </div>
        <div class="form-group w-50 p-1">
            <label asp-for="Växellåda" class="control-label"></label>
            <span id="errorVäxellåda" class="text-danger"></span>
            <select asp-for="Växellåda" id="växellåda" class="form-select">
                <option value="Automatisk">Automatisk</option>
                <option value="Manuell">Manuell</option>
            </select>
        </div>
        <div class="form-group w-50 p-1">
            <label asp-for="Beskrivning" class="control-label"></label>
            <span id="errorBeskrivning" class="text-danger"></span>
            <textarea asp-for="Beskrivning" id="beskrivning" class="form-control"></textarea>
        </div>
        <div class="form-group w-50 p-1 justify-content-evenly align-content-center">
            <input type="button" value="Ny bild" onclick="nyBild()" class="btn btn-dark" />
            <input type="button" value="Skapa bil" onclick="skapaBil()" class="btn btn-dark" />
            <span id="result"></span>
            <a asp-action="Bilar" class="btn btn-dark">Tillbaka</a>
            <a id="nybilbutton" asp-action="NyBil" class="btn btn-dark" style="display: none;">Ny bil</a>
        </div>
        <div class="d-flex flex-row w-100 justify-content-center">
            <h5>Bilder</h5>
            <span id="errorBilder" class="text-danger"></span>
        </div>
        <div class="d-flex flex-wrap flex-row justify-content-between w-100" id="nybild">
            <div class="form-group w-50 p-1" id="bild0container">
                <div class="d-flex flex-row">
                    <input type="text" class="form-control" id="bild0" onchange="nyImg(this)" placeholder="Klistra in bild-url" />
                    <input type="button" class="btn btn-danger" id="bild0tabort" onclick="taBortBild(this)" value="Ta bort" style="height: 100%;" />
                </div>
                <div class="w-100 align-content-center border border-dark overflow-hidden bg-white" style="display: none;">
                    <img id="bild0img" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function nyBild() {
                var count = $("#nybild >div").length;

                $("#nybild").append(
                    `<div class='form-group w-50 p-1' id='bild${count}container'>
                        <div class='d-flex flex-row'>
                            <input type='text' class='form-control' id='bild${count}' onchange='nyImg(this)' placeholder='Klistra in bild-url' />
                            <input type='button' class='btn btn-danger' id='bild${count}tabort' onclick='taBortBild(this)' value='Ta bort' style='height: 100%;' />
                        </div>
                        <div class='w-100 align-content-center border border-dark overflow-hidden bg-white' style='display: none;'>
                            <img id='bild${count}img'/>
                        </div>
                    </div>`);
                }

        function resizeImg(image){
            var div = image.parentElement;
            var divHeight = div.getBoundingClientRect().width / 10 * 7;
            div.style.height = divHeight + "px";

            if (!image.naturalWidth || !image.naturalHeight){
                image.onload = () => resizeImg(image);
                return;
            }

            var widthRatio = div.getBoundingClientRect().width / image.naturalWidth;
            var heightRatio = div.getBoundingClientRect().height / image.naturalHeight;
            var scaleFactor = Math.min(widthRatio, heightRatio);

            image.style.width = (image.naturalWidth * scaleFactor) + 'px';
            image.style.height = (image.naturalHeight * scaleFactor) + 'px';
        }

        function nyImg(input){
            var image = document.getElementById(input.id + "img");
            var div = image.parentElement;
            div.style.display = "block";
            image.src = input.value;
            resizeImg(image);
        }

        function taBortBild(input){
            var div = input.parentElement;
            var container = div.parentElement;
            let child = container.lastElementChild;
            while (child){
                container.removeChild(child);
                child = container.lastElementChild;
            }
            container.remove();
        }

        async function skapaBil() {
                var bil = {};

                bil.Tillverkare = $("#tillverkare").val();
                bil.Årsmodell = $("#årsmodell").val();
                bil.Modell = $("#modell").val();
                bil.Drivning = $("#drivning").val();
                bil.Bränsle = $("#bränsle").val();
                bil.Växellåda = $("#växellåda").val();
                bil.Beskrivning = $("#beskrivning").val();

                var bilder = $("#nybild input[type='text']")
                    .map(function (){
                        return $(this).val();
                    })
                    .get()
                    .filter(function (val){
                        return val.length > 0;
                    });

                if (bilder.length > 0){
                    bil.Bilder = bilder;
                }

                const response = await fetch("/Admin/NyBil", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(bil)
                });

                if (response.ok){
                    $("input, textarea, select").prop("disabled", true).addClass("disabled");
                    document.getElementById("nybilbutton").style.display = 'inline';
                    const result = await response.text();
                    $("#result").text(result);
                }
                else {
                    const data = await response.json();

                    if (data.errors){
                        for (const key in data.errors){
                                $(`#error${key}`).text(data.errors[key].join(""));
                            }
                    }
                    if (data.error){
                        const returnUrl = window.location.pathname;
                        const error = encodeURIComponent(data.error);
                        window.location.href = `/Home/Error?error=${error}&returnUrl=${returnUrl}`;
                    }
                }
            }
    </script>
}