@model FribergCarRentals.Models.Kund

@{
    ViewData["Title"] = "Mina uppgifter";
}

<h1 class="text-center mt-5">Mina uppgifter</h1>

<div class="w-100 d-flex justify-content-center">
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Lösenord" class="control-label"></label>
                <input asp-for="Lösenord" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Förnamn" class="control-label"></label>
                <input asp-for="Förnamn" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Efternamn" class="control-label"></label>
                <input asp-for="Efternamn" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="TelefonNummer" class="control-label"></label>
                <input asp-for="TelefonNummer" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Postkod" class="control-label"></label>
                <input asp-for="Postkod" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Ort" class="control-label"></label>
                <input asp-for="Ort" class="form-control" disabled />
            </div>
    </div>
</div>
<div class="text-center m-3">
    <p class="text-center">Kontakta admin för att ändra dina uppgifter</p>
</div>