@model FribergCarRentals.Models.Kund

@{
    ViewData["Title"] = "Ändra kund";
}

<h1 class="text-center mt-5">Ändra kund</h1>

<div class="w-100 d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="ÄndraKundAdmin" asp-controller="Kund">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lösenord" class="control-label"></label>
                <input asp-for="Lösenord" class="form-control" />
                <span asp-validation-for="Lösenord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Förnamn" class="control-label"></label>
                <input asp-for="Förnamn" class="form-control" />
                <span asp-validation-for="Förnamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Efternamn" class="control-label"></label>
                <input asp-for="Efternamn" class="form-control" />
                <span asp-validation-for="Efternamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonNummer" class="control-label"></label>
                <input asp-for="TelefonNummer" class="form-control" />
                <span asp-validation-for="TelefonNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postkod" class="control-label"></label>
                <input asp-for="Postkod" class="form-control" />
                <span asp-validation-for="Postkod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ort" class="control-label"></label>
                <input asp-for="Ort" class="form-control" />
                <span asp-validation-for="Ort" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 d-flex justify-content-between">
                <input type="submit" value="Spara ändringar" class="btn btn-dark" />
                <a class="btn btn-dark" asp-action="KunderAdmin" asp-controller="Kund">Tillbaka</a>
            </div>
        </form>
    </div>
</div>
<p class="text-center fs-4">@ViewBag.Result</p>